{{ .context.Scratch.Set "height" .height }}
{{ .context.Scratch.Set "unit" .unit }}
{{ .context.Scratch.Set "items" .items }}
{{ .context.Scratch.Set "img_dir" .img_dir }}
<div class="slideshow-container">
  {{ range $index, $slide := index .context.Site.Data.carousel .img_dir }}
  <div class="mySlides fade">
    <img src='{{ (resources.Get $slide.image).Permalink }}' class="rounded-lg shadow-sm h-96 w-full object-cover">
  </div>
  {{ end }}
  <a class="prev text-white" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next text-white" onclick="plusSlides(1)">&#10095;</a>
  <!-- Next and previous buttons -->
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  {{ $i := 1}}
  {{ range $index, $slide := index .context.Site.Data.carousel .img_dir }}
  <span class="dot" onclick="currentSlide({{ $i }})"></span>
  {{ $i = add $i 1 }}
  {{ end }}
</div>

</div>